@use 'variables' as *;
@use 'mixins' as mixin;

body {
	margin: 0;
}

#content > div {
	max-width: $page-max-width;
	box-sizing: content-box;
	margin: 0 auto;
	@include mixin.apply-page-gutters() {
		padding: 0 $page-gutter;
	}
}