@use 'variables' as vars;
@use 'mixins' as mixin;

body {
	margin: 0;
}

#root {
	display: grid;
	grid-template-rows: [header-top] auto [header-bottom] auto [footer-top] auto [footer-bottom];
	grid-template-columns: [most-right] 1fr [most-left];
}