@use "fonts/index";
@use "variables" as vars;

// Incorporated libraries
@use "inc/bootstrap" with(
	$enable-responsive-font-sizes: true,
	$rfs-base-font-size: 1rem,
	$font-family-base: #{vars.$base-font, sans-serif},
	$headings-font-family: #{vars.$headline-font, sans-serif},
);
@use "inc/photoswipe" with(
$pswp__background-color: #fff,
);

// Variables, mixins, functions
@use "mixins";

// Basic elements
@use "type";
@use "footer";
@use "buttons";
@use "content";

@use "header/header";

// Apps
@use "dashboard/dashboard";

// Gutenberg - Content blocks
@use "blocks/hero-card";
