@use '../variables' as v;

$hamburger-icon-size: 2.5rem;

#primary-navigation-toggle {
	// But when visible, it is FLEX
	display: none;

	width: $hamburger-icon-size;
	height: $hamburger-icon-size;
	margin: 0.5rem;
	position: relative;
	flex-wrap: wrap;
	align-content: space-between;
	padding: $hamburger-icon-size/3.5 $hamburger-icon-size/5;

	&:hover, &:focus {
		background: v.$gray;
	}
	&:active {
		background: v.$gray;
	}

	.icon-helper {
		position: relative;
		width: 100%;
		height: 0.125rem;
		background: v.$dark;
		opacity: 1;
		transition-property: top, bottom, transform, opacity;
		transition-duration: v.$animation-duration;
		&:first-child {
			top: 0;
		}
		&:last-child {
			bottom: 0;
		}
	}

	&[aria-expanded="true"] {
		background: darken(v.$light, 20%);
		.icon-helper {
			&:first-child {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-child {
				bottom: 50%;
				transform: translateY(50%) rotate(-45deg);
			}
		}
	}
}