@use '../variables' as vars;
@use '../inc/bootstrap' as bs;
@use '../mixins' as mixin;
@forward 'navigation';
@forward 'language-selector';
@forward 'user-menu';

header {
	grid-area: header-top / most-right / header-bottom / most-left;
	display: block;
	max-width: vars.$page-max-width;
	box-sizing: content-box;
	padding: 1rem;

	@include mixin.apply-page-gutters() {
		padding-left: vars.$page-gutter;
		padding-right: vars.$page-gutter;
	}
}

// Logo
#logo {
	// For IE, SVG dimensions have to be defined
	// so the image has correct aspect ratio

	a {
		display: block;
	}
}

#header-navigation {}
#language-selector-ccontainer {}
