.footer-product-listing {
  position: relative;
  padding-top: 8rem;
  
  &::before {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 7rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    background-image: url("../../img/dot-dot-dot.png");
    background-size: 2.5rem 7rem;
    background-repeat: no-repeat;
    background-position: center;
  }
}